<!-- base.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{% block title %} {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384- 1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384- 0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class='container-fluid'>
        {% include 'header.html' %}
        <div class='row'>
            <div class='col-sm-4 col-md-4'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h3>MENU</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='list-group'>
                            <a href='/' class='list-group-item'>HOME</a>
                            <a href='/admin' class='list-group-item'>管理頁面 </a>
                            <a href='http://tar.so/news' class='list-group-item'>實時新聞</a> <a href='http://drho.tw/news'
                                class='list-group-item'>電視新聞</a>
                        </div>
                        <script type="text/javascript"
                            src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;dd=0&amp;wid=&amp;p id=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135 D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=190&amp;wne=6&amp ;srefs=0"></script>
                        <noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript>
                    </div>
                </div>
            </div>

            <div class='col-sm-8 col-md-8'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class='panel-body'>
                        {% block content %} {% endblock %}
                    </div>
                    <div class='panel-footer'>
                        {% include 'footer.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>