{% block footer %}
{% if now %}
<p style='font-family:微軟正黑體;'>現在時間:{{ now }}</p> {% else %}
<p style='font-family:微軟正黑體;'>Copyright© 2000-2022. jfanc All Rights Reserved.</p>
{% endif %}
{% endblock %}